<a href="https://colab.research.google.com/github/ytam1208/Googlecolab/blob/main/example3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#함수
#내장함수
a = [1,2,3,4]
print(sum(a))
_max = max(a)
print(_max)

def add_0():
  a = 10
  b = 20
  summation = a+b
  print(summation)

add_0()

def add_1():
  a = 10
  b = 20
  summation = a+b
  return summation,a,b
print(add_1())

def add_2(a,b):
  return a + b + 10

my_data = add_2(10,30)
print(my_data)

10
4
30
30
50

In [8]:
def test(my_list):
  result = []
  for data in my_list:
    result.append(data)
  return sum(result)

a = [1,2,3,4,5,6,7,8,9]
my_result = test(a)
print(my_result)

45

In [24]:
#가변길이 인자, 정해져있는 인자의 갯수가 아닌
def test(*data): # *args
  print(type(data))
  for item in data:
    print(item)

my_data1 = [10,20,30,40,50]
test(my_data1)

my_data2 = (10,20,30,40,50)
test(my_data2)

my_data3 = {10,20,30,40,50}
test(my_data3)

<class 'tuple'>
[10, 20, 30, 40, 50]
<class 'tuple'>
(10, 20, 30, 40, 50)
<class 'tuple'>
{40, 10, 50, 20, 30}

In [ ]:
def add_1():
  a = 10
  b = 20
  summation = a+b
  return summation,a,b

my1, my2, my3 = add_1()
print(my1, my2, my3)

In [26]:
#람다함수
#한번만 실행되는 함수

def my_square(num):
  return num**2

square = lambda x: x**2
print(square(5))

#여러 변수를 넣고싶으면
my_cal = lambda x, y: x**2 + y
print(my_cal(10,20))

25
120

In [29]:
# filter, map
# 특정 조건을 만족한 요소만 남기고 필터링
nums = [1,2,3,4,5,6,8,9]

#짝수만 남기기
def even(n):
  return n % 2 == 0 # 2로 나눴을때 참일때만 return

print(list(filter(even, nums)))

print(list(filter(lambda x:x%2 == 0, nums)))

[2, 4, 6, 8]
[2, 4, 6, 8]

In [33]:
#class
class Person:
  name = ""
  age = ""
  phone = ""
  job = ""

Paul = Person()
Paul.name = "바울"
Paul.age = 100
Paul.phone = "1111"
Paul.job = "developer"

print(Paul.name)
print(Paul.age)
print(Paul.job)

바울
100
developer

In [37]:
class person:
  def __init__(self): # Person클래스가 선언될때 바로 시작되는 함수
    self.name = "바울" # self는 자기 자신 속성 중에 name을 사용할거다
    self.age = 100

paul = person()
print(paul.name)
print(paul.age)

class person:
  def __init__(self, name, age): # Person클래스가 선언될때 바로 시작되는 함수
    self.name = name # self는 자기 자신 속성 중에 name을 사용할거다
    self.age = age
    print("init함수가 실행되었습니다.")

paul = person("바울1", 100)
print(paul.name)
print(paul.age)
paul = person("바울2", 1001)
print(paul.name)
print(paul.age)
paul = person("바울2", 1002)
print(paul.name)
print(paul.age)

def my_print(self):
  print("이름: ", self.name, " 나이: ", self.age)

print(my_print(paul))

바울
100
init함수가 실행되었습니다.
바울1
100
init함수가 실행되었습니다.
바울2
1001
init함수가 실행되었습니다.
바울2
1002
이름:  바울2  나이:  1002
None