<a href="https://colab.research.google.com/github/ytam1208/Googlecolab/blob/main/%08example5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [11]:
#Series - pandas
#index 없이 데이터만 생성
s1 = pd.Series([1,2,3])
print(s1)

0    1
1    2
2    3
dtype: int64

In [12]:
s2 = pd.Series(["a","b","c"])
print(s2)

0    a
1    b
2    c
dtype: object

In [13]:
s3 = pd.Series(np.arange(200))
print(s3)

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int64

In [15]:
# index 명시, 데이터들에 직접적으로 할당을 해준다.
s4 = pd.Series([1,2,3],[100,200,300])
print(s4)

100    1
200    2
300    3
dtype: int64

In [16]:
s5 = pd.Series([1,2,3],["a","1","x"])
print(s5)
#딕셔너리와 비슷한 구조이다.

a    1
1    2
x    3
dtype: int64

In [17]:
s6 = pd.Series(np.arange(5), np.arange(100,105), dtype=np.int64)
print(s6)

100    0
101    1
102    2
103    3
104    4
dtype: int64

In [20]:
print(s5.index)

Index(['a', '1', 'x'], dtype='object')

In [22]:
print(s5.values)

[1 2 3]

In [25]:
print(s5['a'])

3

In [29]:
s5['m']=1000
print(s5)
#새롭게 데이터 추가도 가능하다.

a       1
1       2
x       3
m    1000
dtype: int64

In [33]:
s7 = pd.Series([1,1,2,1,2,2,2,1,1,3,3,4,5,5,7,np.NaN])
print(s7[[5,7,9]])

5    2.0
7    1.0
9    3.0
dtype: float64

In [39]:
s = pd.Series([1,1,2,1,2,2,2,1,1,3,3,4,5,5,7,np.NaN])
print(len(s))
print(s.size)
print(s.shape) #1차원이고 16개 데이터 있다.

16
16
(16,)

In [47]:
#중복된 수 없이 데이터 나열을 해줌
print(s.unique())
print(s.count()) # count -> NaN을 카운트하지 않는다.  Numpy와의 큰 차이!
print(s.mean())
a = np.array([2,2,2,2,np.NaN])  
a.mean()  #NaN까지 고려해서 계산한다.

nan

In [48]:
s.value_counts()

1.0    5
2.0    4
3.0    2
5.0    2
4.0    1
7.0    1
dtype: int64

In [51]:
s.head()

0    1.0
1    1.0
2    2.0
3    1.0
4    2.0
dtype: float64

In [52]:
s.tail()

11    4.0
12    5.0
13    5.0
14    7.0
15    NaN
dtype: float64

In [54]:
# Series 데이터 연산
s1 = pd.Series([1,2,3,4],['a','b','c','d'])
s2 = pd.Series([6,3,2,1],['d','c','b','a'])
print(s1)
print(s2)
print(s1+s2)

a    1
b    2
c    3
d    4
dtype: int64
d    6
c    3
b    2
a    1
dtype: int64
a     2
b     4
c     6
d    10
dtype: int64

In [56]:
s1 = pd.Series([1,2,3,4],['a','b','c','d'])
s2 = pd.Series([6,3,2,1],['f','c','b','a'])
print(s1)
print(s2)
print(s1+s2)
print(s1**s2)

a    1
b    2
c    3
d    4
dtype: int64
f    6
c    3
b    2
a    1
dtype: int64
a    2.0
b    4.0
c    6.0
d    NaN
f    NaN
dtype: float64
a     1.0
b     4.0
c    27.0
d     NaN
f     NaN
dtype: float64

In [61]:
s = pd.Series(np.arange(10),np.arange(10)+1)
print(s > 5)
print(s[s>5])

1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
dtype: bool
7     6
8     7
9     8
10    9
dtype: int64

In [62]:
s[s.index > 5]

6     5
7     6
8     7
9     8
10    9
dtype: int64

In [66]:
s = pd.Series(np.arange(100,105),['a','b','c','d','e'])
s['a']=200
s['k']=300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [69]:
s1 = pd.Series(np.arange(100,105))
s2 = pd.Series(np.arange(100,105),['a','b','c','d','e'])
print(s1)
print(s2)
print(s1[1:3])
print(s2[1:3])

0    100
1    101
2    102
3    103
4    104
dtype: int64
a    100
b    101
c    102
d    103
e    104
dtype: int64
1    101
2    102
dtype: int64
b    101
c    102
dtype: int64